---
import { render } from "astro:content";

import Backdrop from "@/components/Backdrop.astro";
import Masthead from "@/components/note/Masthead.astro";
import BaseLayout from "@/layouts/Base.astro";
import { getAllNotes } from "@/data/note";
import type { GetStaticPaths, InferGetStaticPropsType } from "astro";
import ScrollToTop from "@/components/atoms/ScrollToTop.astro";

// If you're using an adaptor in SSR mode, getStaticPaths wont work -> https://docs.astro.build/en/guides/routing/#modifying-the-slug-example-for-ssr
export const getStaticPaths = (async () => {
	const allNotes = await getAllNotes();
	return allNotes.map((note) => ({
		params: { slug: note.id },
		props: { note },
	}));
}) satisfies GetStaticPaths;

export type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { note } = Astro.props;

const meta = {
	description:
		note.data.description ||
		`Read about my note posted on: ${note.data.publishDate.toLocaleDateString()}`,
	title: note.data.title,
};

const { Content } = await render(note);
---

<BaseLayout meta={meta}>
	<Backdrop />

	<Masthead content={note} />

	<ScrollToTop />

	<div class="mt-6 flex gap-x-8 sm:grid-cols-[auto_1fr] md:items-start">
		<article class="grid flex-grow grid-cols-1 break-words pt-4" data-pagefind-body>
			<div class="max-w-none flex-grow">
				<div class="prose prose-citrus mt-4 max-w-none [&>p:last-of-type]:mb-0">
					<Content />
				</div>
			</div>

			<!-- TODO Webmentions nav would go here -->
		</article>

		<!-- TODO Headings nav would go here -->
	</div>

	<script src="@/components/atoms/CopyCode.client.ts"></script>
</BaseLayout>

<script>
	// Wait for the content to fully load
	document.addEventListener("DOMContentLoaded", () => {
		const buttonsPanel = document.getElementById("buttons-panel");

		if (buttonsPanel) {
			buttonsPanel.classList.add("fixed");
			console.log("Class 'fixed' added to the buttons-panel element.");
		} else {
			console.error("Element with ID 'buttons-panel' not found.");
		}
	});
</script>
