---
import MainMenuButton from "@/components/MainMenuButton.astro";
import Search from "@/components/Search.astro";
import ThemeToggle from "@/components/ThemeToggle.astro";
import Drawer from "@/components/layout/Drawer.astro";
import { menuLinks, siteConfig } from "@/site.config";
---

<header
	id="main-header"
	class="fixed left-0 top-0 z-20 flex h-16 w-full items-center overflow-hidden bg-bgColor px-4 md:relative md:bg-transparent md:px-0"
>
	<div class="w-full justify-between sm:flex-col">
		<div class="flex items-center gap-x-2">
			<a
				aria-label={siteConfig.title}
				aria-current={Astro.url.pathname === "/" ? "page" : false}
				class="group flex h-8 items-center hover:filter-none sm:relative"
				href="/"
			>
				<strong
					class="font-regular mb-0.5 italic text-accent-two hover:text-accent-one md:text-xl md:font-medium"
				>
					{siteConfig.title}
				</strong>
			</a>
			<nav
				aria-label="Main menu"
				class="top-20 mx-auto ml-4 ml-auto hidden flex-col items-end justify-center gap-x-4 rounded-md bg-bgColor text-sm font-medium text-accent-two shadow backdrop-blur group-[.menu-open]:z-50 group-[.menu-open]:flex sm:static sm:z-auto sm:flex-row sm:items-center sm:rounded-none sm:bg-transparent sm:shadow-none sm:backdrop-blur-none md:flex"
				id="main-navigation-menu"
			>
				{
					menuLinks.map((link) => (
						<a
							aria-current={Astro.url.pathname === link.href ? "page" : false}
							class="underline-offset-2 hover:underline"
							data-astro-prefetch
							href={link.href}
						>
							{link.title}
						</a>
					))
				}
			</nav>

			<div class="ml-auto w-fit">
				<div id="buttons-panel" class="top-4 -ml-[4.5rem] flex space-x-2 md:top-8">
					<Search />
					<ThemeToggle />
				</div>
			</div>

			<MainMenuButton />
		</div>
	</div>
</header>

<Drawer />

<script>
	// Wait for the content to fully load
	document.addEventListener("DOMContentLoaded", () => {
		const buttonsPanel = document.getElementById("buttons-panel");

		if (buttonsPanel) {
			buttonsPanel.classList.add("fixed");
			console.log("Class 'fixed' added to the buttons-panel element.");
		} else {
			console.error("Element with ID 'buttons-panel' not found.");
		}
	});
</script>
