<div
	class="pointer-events-none absolute left-1/2 top-0 -ml-[50vw] min-h-screen w-screen overflow-x-hidden opacity-50 blur-3xl md:top-[-15%]"
>
	<div
		class="absolute right-[-40%] top-[10%] h-full w-[65%] rounded-full bg-gradient-to-b from-purple-300 via-blue-300 to-transparent opacity-30 dark:opacity-10"
	>
	</div>
	<div
		class="absolute left-[-40%] top-[10%] h-full w-[65%] rounded-full bg-gradient-to-b from-blue-300 via-pink-300 to-transparent opacity-30 dark:opacity-10"
	>
	</div>
	<div
		class="absolute left-[-50%] top-[-20%] h-full w-[85%] rounded-full bg-gradient-to-b from-indigo-300 via-orange-300 to-transparent opacity-60 dark:opacity-10"
	>
	</div>
	<div
		class="absolute right-[-50%] top-[-20%] h-full w-[85%] rounded-full bg-gradient-to-b from-orange-300 via-indigo-300 to-transparent opacity-60 dark:opacity-10"
	>
	</div>
</div>
