---
import { Icon } from "astro-icon/components";
---

<div class="left-0 right-12 z-50 ml-auto w-fit md:absolute">
	<button
		id="to-top-button"
		class="fixed bottom-14 flex h-12 w-12 translate-y-28 items-center justify-center rounded-full bg-bgColor text-3xl text-light drop-shadow-xl transition-all duration-300 hover:text-accent-two data-[show=true]:translate-y-0 data-[show=true]:opacity-100"
		aria-label="Back to Top"
		data-show="false"
	>
		<span
			class="absolute inset-0 flex items-center justify-center rounded-full bg-special-lighter"
			aria-hidden="true"
		>
			<Icon class="h-6 w-6" focusable="false" name="ei:chevron-up" />
		</span>
	</button>
</div>

<!-- Scroll to top button -->
<script>
	const scrollBtn = document.getElementById("to-top-button") as HTMLButtonElement;
	const targetHeader = document.querySelector("header") as HTMLElement;

	function callback(entries: IntersectionObserverEntry[]) {
		entries.forEach((entry) => {
			// Show the scroll to top button when the <header> is out of view
			scrollBtn.dataset.show = (!entry.isIntersecting).toString();
		});
	}

	scrollBtn.addEventListener("click", () => {
		document.documentElement.scrollTo({ behavior: "smooth", top: 0 });
	});

	const observer = new IntersectionObserver(callback);
	observer.observe(targetHeader);
</script>
