---
interface Props {
	description: string;
}

const { description } = Astro.props;
---

<div class="vertical-align-middle float-l mb-1 ml-2 mt-4 text-sm uppercase text-lighter">
	Summary
</div>
<p class="prose mx-2 max-w-none text-textColor" data-pagefind-body>
	{description}
</p>
