---
import { type CollectionEntry, render } from "astro:content";
import SeriesPanel from "@/components/SeriesPanel.astro";
import TOC from "@/components/blog/TOC.astro";
import { Icon } from "astro-icon/components";
import BaseLayout from "./Base.astro";

interface Props {
	series: CollectionEntry<"series">;
}

const { series } = Astro.props;
const { title, description } = series.data;

const { headings } = await render(series);
---

<BaseLayout meta={{ description, title }}>
	<!-- SeriesPanel     "sidebar" -->
	{series.id && <SeriesPanel slot="sidebar" seriesId={series.id} />}

	<div class="flex items-end md:sticky md:top-8 md:z-20">
		<button
			id="toggle-panel"
			class="z-30 mr-2 hidden h-8 w-8 flex-shrink-0 items-center justify-center rounded-lg bg-accent-base/10 text-accent-base hover:text-accent-base/90 md:flex"
			aria-label="Toggle Series Panel"
			aria-controls="series-panel"
		>
			{
				/*
			<Icon aria-hidden="true" class="h-6 w-6" focusable="false" name="hugeicons:sidebar-left" />
			*/
			}
			<Icon
				aria-hidden="true"
				class="h-6 w-6 flex-shrink-0"
				focusable="false"
				name="solar:notes-bold"
			/>
		</button>
		<button
			id="toggle-toc"
			class="z-30 mr-2 hidden h-8 w-8 flex-shrink-0 items-center justify-center rounded-lg bg-accent-base/10 text-accent-base hover:text-accent-base/90 md:flex"
			aria-label="Table of Contents"
		>
			<Icon aria-hidden="true" class="h-6 w-6" focusable="false" name="solar:clipboard-list-bold" />
		</button>

		<h1
			class="title line-clamp-none md:sticky md:top-4 md:z-20 md:line-clamp-1 md:max-w-lg lg:max-w-xl"
		>
			{title}
		</h1>
	</div>
	<p class="prose prose-citrus mt-[1.125rem] max-w-none">
		{description}
	</p>

	<div class="mt-6 flex gap-x-8 sm:grid-cols-[auto_1fr] md:items-start">
		<article class="grid flex-grow grid-cols-1 break-words pt-4" data-pagefind-body>
			<div
				class="prose prose-citrus max-w-none flex-grow prose-headings:font-semibold prose-headings:text-accent-base prose-headings:before:text-accent-two"
			>
				<slot />
			</div>
		</article>
		{
			!!headings.length && (
				<aside
					id="toc-panel"
					class="sticky z-10 hidden rounded-lg md:top-20 md:block md:w-[16rem] md:min-w-[16rem]"
				>
					<TOC headings={headings} />
				</aside>
			)
		}
	</div>

	<div class="left-0 right-12 z-50 ml-auto w-fit md:absolute">
		<button
			id="to-top-button"
			class="fixed bottom-14 flex h-12 w-12 translate-y-28 items-center justify-center rounded-full border-2 border-special-lighter bg-bgColor text-3xl text-light drop-shadow-xl transition-all duration-300 hover:text-accent-two data-[show=true]:translate-y-0 data-[show=true]:opacity-100"
			aria-label="Back to Top"
			data-show="false"
		>
			<span
				class="absolute inset-0 flex items-center justify-center rounded-full bg-special-light"
				aria-hidden="true"
			>
				<svg
					class="h-6 w-6"
					fill="none"
					focusable="false"
					stroke="currentColor"
					stroke-width="2"
					viewBox="0 0 24 24"
					xmlns="http://www.w3.org/2000/svg"
				>
					<path d="M4.5 15.75l7.5-7.5 7.5 7.5" stroke-linecap="round" stroke-linejoin="round"
					></path>
				</svg>
			</span>
		</button>
	</div>

	<!--      -->
	<mobile-button
		id="toggle-panel-mobile"
		class="hover:text-bg-accent-base/90 fixed bottom-4 right-4 z-50 block flex size-12 items-center justify-center rounded-lg border border-special-lighter bg-bgColor text-accent-base shadow-[0px_10px_25px_rgba(0,0,0,0.15)] sm:hidden"
		aria-label="Toggle Series Panel"
	>
		<span
			class="absolute inset-0 flex items-center justify-center rounded-lg bg-special-light hover:text-accent-base/90"
		>
			<Icon class="size-8" name="solar:notes-bold" />
		</span>
	</mobile-button>

	<!--       -->
	<!--
	<mobile-button
		id="toggle-toc-mobile"
		class="size-12 flex items-center justify-center block sm:hidden fixed bottom-20 shadow-[0px_10px_25px_rgba(0,0,0,0.15)] border border-special-lighter right-4 z-50 rounded-lg bg-bgColor text-accent-base hover:text-bg-accent-base/90"
		aria-label="Toggle TOC Panel"
	>
		<span class="absolute inset-0 rounded-lg flex items-center justify-center bg-special-light hover:text-accent-base/90">
			<Icon class="size-8" name="solar:clipboard-list-bold"/>
		</span>
	</mobile-button>
	-->
</BaseLayout>

<script>
	const ANIMATION_DURATION = 300;
	//
	const togglePanelBtn = document.getElementById("toggle-panel");
	const closePanelBtn = document.getElementById("close-panel");
	const seriesPanel = document.getElementById("series-panel");
	const togglePanelMobileBtn = document.getElementById("toggle-panel-mobile");

	// ,  seriesPanel
	if (!seriesPanel) {
		console.error(" series-panel  ");
		throw new Error("series-panel is required");
	}

	//   ,
	const isPanelVisible = () => {
		const isScreenLg = window.matchMedia("(min-width: 1024px)").matches; //
		return (
			(isScreenLg && seriesPanel.classList.contains("lg:block")) ||
			(!isScreenLg && !seriesPanel.classList.contains("hidden"))
		);
	};

	//
	const hidePanel = () => {
		seriesPanel.classList.add("opacity-0", "-translate-x-full");
		setTimeout(() => {
			seriesPanel.classList.remove("block", "lg:block");
			seriesPanel.classList.add("hidden");
		}, ANIMATION_DURATION);
	};

	//
	const showPanel = () => {
		seriesPanel.classList.remove("hidden");
		seriesPanel.classList.add("block", "lg:block");
		setTimeout(() => {
			seriesPanel.classList.remove("opacity-0", "-translate-x-full");
		}, 10);
	};

	//
	const togglePanel = () => {
		if (isPanelVisible()) {
			hidePanel(); //  ,
		} else {
			showPanel(); //  ,
		}
	};

	//
	if (togglePanelBtn) {
		togglePanelBtn.addEventListener("click", togglePanel);
	} else {
		console.error(" toggle-panel  ");
	}

	if (togglePanelMobileBtn) {
		togglePanelMobileBtn.addEventListener("click", togglePanel);
	} else {
		console.error(" toggle-panel-mobile  ");
	}

	if (closePanelBtn) {
		closePanelBtn.addEventListener("click", hidePanel);
	} else {
		console.error(" close-panel  ");
	}
</script>

<script>
	//
	const toggleTocBtn = document.getElementById("toggle-toc");
	const closeTocBtn = document.getElementById("close-toc");
	const tocPanel = document.getElementById("toc-panel");
	const toggleTocMobileBtn = document.getElementById("toggle-toc-mobile");

	//    (  )
	if (!tocPanel) {
		console.error(" toc-panel  ");
		throw new Error("toc-panel is required");
	}

	//   ,
	const isTocVisible = () => {
		const isScreenMd = window.matchMedia("(min-width: 768px)").matches;
		return (
			(isScreenMd && tocPanel.classList.contains("md:block")) ||
			(!isScreenMd && !tocPanel.classList.contains("hidden"))
		);
	};

	//
	const hideToc = () => {
		tocPanel.classList.add("hidden");
		tocPanel.classList.remove("md:block");
	};

	//
	const showToc = () => {
		tocPanel.classList.remove("hidden");
		tocPanel.classList.add("md:block");
	};

	//
	const toggleToc = () => {
		if (isTocVisible()) {
			hideToc(); //  ,
		} else {
			showToc(); //  ,
		}
	};

	//
	if (toggleTocBtn) {
		toggleTocBtn.addEventListener("click", toggleToc);
	} else {
		console.error(" toggle-toc  ");
	}

	//
	if (toggleTocMobileBtn) {
		toggleTocMobileBtn.addEventListener("click", toggleToc);
	} else {
		console.error(" toggle-toc-mobile  ");
	}

	//
	if (closeTocBtn) {
		closeTocBtn.addEventListener("click", hideToc);
	} else {
		console.error(" close-toc  ");
	}
</script>

<script>
	//
	document.addEventListener("DOMContentLoaded", () => {
		const buttonsPanel = document.getElementById("buttons-panel");

		if (buttonsPanel) {
			buttonsPanel.classList.add("fixed");
			console.log(" 'fixed'    buttons-panel.");
		} else {
			console.error("  ID 'buttons-panel'  .");
		}
	});
</script>

<script>
	const scrollBtn = document.getElementById("to-top-button") as HTMLButtonElement;
	const targetHeader = document.querySelector("header") as HTMLElement;

	function callback(entries: IntersectionObserverEntry[]) {
		entries.forEach((entry) => {
			// Show the scroll to top button when the <header> is out of view
			scrollBtn.dataset.show = (!entry.isIntersecting).toString();
		});
	}

	scrollBtn.addEventListener("click", () => {
		document.documentElement.scrollTo({ behavior: "smooth", top: 0 });
	});

	const observer = new IntersectionObserver(callback);
	observer.observe(targetHeader);
</script>
